[2017-07-03 10:51] scmorrison opened #1 "Unable to install uzu on a newly installed Rakudo-Star"
Gregor Goldbach @glauschwuffel wrote:
 
Hi there,
I’m unable to install Uzu. These are the steps I performed:
- Installed rakudo-star-2017-04
- Ran ```
zef install Uzu --depsonly
zef install Uzu
[code]
$ zef install Uzu
===> Searching for: Uzu
===> Testing: Uzu:ver('0.1.8'):auth('gitlab:samcns')
t/00-basics.t .. ok
===SORRY!===
Probable version skew in pre-compiled 'site#sources/279EEE655EA4F4F78A

[2017-07-03 11:11] scmorrison commented on #1
Hi @glauschwuffel,

It does look like 2017.04 is the latest Rakudo Star release for MacOS. I have been testing using [rakudobrew](https://github.com/tadzik/rakudobrew) and having better success. It looks like `homebrew` has 2017.04 also.

Can  you test again now that I have resolved the `zef` META6 author issue?

Thanks again for the feedback / troubleshooting on the MacOS. This is very helpful.

[2017-07-03 23:54] scmorrison commented on #1
Hi @glauschwuffel,

Just a follow up. I was able to install using zef that comes installed with `brew install rakudo-star` using these commands:

[code]

There was a modification in rakudo in 2017.06 that caused an issue with IO / spawning processes.  Some of the tests that are failing on these dependencies run fine on the 2017.06 and later.

[2017-07-05 07:23] glauschwuffel commented on #1
Hi @scmorrison,

sorry for the delay.

I'll try both: 2017-04 after your fix and 2017-06. This may take some time.

[2017-07-07 10:19] glauschwuffel commented on #1
Hi @scmorrison ,

things are getting weirder. On my iMac the installation fails after a few seconds.

[code]

[2017-07-07 14:48] scmorrison commented on #1
Hi @glauschwuffel

ok, what happens when you run these commands?

[code]

[2017-07-07 15:01] glauschwuffel commented on #1
Hi @scmorrison ,

well, running the first command gets me these results:
[code]

[2017-07-07 15:09] scmorrison commented on #1
Ok, I have removed the Bailador version requirement from META6. Can you try that command again?

Also, I am still trying to track down the cause of these Log::Any issues:

[code]

[2017-07-07 19:30] glauschwuffel commented on #1
Hi @scmorrison ,
I have been able to install the dependencies now. However, Uzu itself won't install because of the Log::Any issue:

[code]

Should I try 2017-06 instead? And if so, where can I get a stable version of it?

[2017-07-07 23:32] scmorrison commented on #1
Hi @glauschwuffel,

I have switched the web server to HTTP::Server::Tiny. Bailador is under heavy development at the moment so switching to a simple HTTP::Server::Tiny implementation for the time being. Uzu's web server requirements are much simpler than the features included with Bailador.

Please try these commands again:

[code]

Thanks,
Sam

[2017-07-07 23:47] scmorrison commented on #1
The modifications that I changed should resolve the issue you were seeing (Log::Any is a Bailador dependency). But if you are interested in checking out the newest versions of rakudo, you can use [rakudobrew](https://github.com/tadzik/rakudobrew). It will allow you to install the latest versions. It compiles each version it installs, so it takes a little more time to setup than the official releas

[2017-07-08 16:56] glauschwuffel commented on #1
Hi @scmorrison ,
the installation of HTTP::Server::Tiny fails. The test 06-channel.t fails:
[code]

Can this module be installed on your machine?

[2017-07-08 17:24] glauschwuffel commented on #1
Hi @scmorrison ,
I tried installed HTTP::Server::Tiny without running the tests (shame on me).

Installing Uzu still fails, this time with some other message:
[code]

Is there some kind of cache I have to clear?

[2017-07-08 20:34] scmorrison commented on #1
This looks like zef is still hanging onto the old version. This command should clear it out:

[code]

`~/.zef` is the default zef cache, but might be different on your system.

[2017-07-08 20:39] scmorrison commented on #1
Also, I am seeing the `HTTP::Server::Tiny` test failure on 2017.04 OSX also. Install with this command:

[code]

[2017-07-13 19:30] evanmiller opened #2 "Feature request: Per-page config"
I'm interested in using uzu as a poor man's CMS. Basically I have a site with a number of long-ish articles, and I want to make a separate page for each article. I'd like to have additional metadata associated with each article, e.g. related links, timestamp, title, etc. I envision a file layout like:

[code]

Uzu would collate the config files, basically merging article1.yml and en.yml when gener

[2017-07-16 01:54] scmorrison commented on #2
Hi @evanmiller

This is along the lines of what I was thinking. I am planning on adding support for nested folder posts as well. Maybe something like this?

[code]

Sam

[2017-07-16 15:16] evanmiller commented on #2
Cool, nested folder posts sound great. I don't really need i18n myself, so maybe consider a structure like:

[code]

[2017-07-17 00:20] scmorrison commented on #2
After staring at all of this I am trying to decide which of these approaches would be the most painless for the users.

I think I like this the most so far:

[code]

I think that the scenario where i18n isn't needed then the default language could be used.

I do like the aesthetics of the `article3.en.yml`, but it might get long if there is a long file names. I think the folder-name-as-article mig

[2017-07-17 15:25] evanmiller commented on #2
Cool. The folder structure is certainly easier to rename than `article1.en.yml`, `article2.ja.yml`, etc.

In my own case, if I were to do i18n, I think I'd want localized templates too.  (I.e. the article text would be localized also.) So I'd want the top-level folders to be "pages" and "vars" or something like that.

[code]

But then at that point I might want the language up top:

[code]

Not su

[2017-07-17 22:10] scmorrison commented on #2
Instead of having a generic vars folder, how about supporting page-centric vars in the page template files themselves and make a distinction between variable scope: `site`, `page`, and `i18n`.

A single page could look something like this (only a rough idea at the moment):

[code]

A template file cool look like this:

[code]

`site` variables would be defined in `config.yml`, `page` variables def

[2017-07-18 05:07] evanmiller commented on #2
I like the page-embedded variables!

One other related request I'd have is a natural way to write articles in Markdown -- maybe this could be a special page variable or something e.g.

[code]

[2017-07-18 09:20] scmorrison commented on #2
Ok, I have added the `i18n.varaiblename` and `site.variablename` functionality. The old variables will still work without the scope for now. For the page variables, Template6 has this built in so I have added an example in the [README#page-variables](https://github.com/scmorrison/uzu#page-variables). This will work without the `page.` scope prefix, which makes sense considering it is already local

[2017-07-24 10:52] scmorrison commented on #2
Just wanted to update on the progress. I have added Mustache support and yaml page-variables for both Template6 and Mustache templates.

You can now add something like this at the top of your page templates:

`pages/index.tt`

[code]

Then you can access the page variables from other templates / partials (Template6):

`partials/head.tt`
[code]

...or for Mustache:

`partials/head.mustache`
[code]

[2017-07-24 20:01] evanmiller commented on #2
Thanks. I tried reinstalling Uzu, but the HTTP::Server::Async dependency failed to pass the test suite. I have filed an issue about that here:

https://github.com/perl6/perl6-http-server-async/issues/32

[2017-07-24 22:20] scmorrison commented on #2
Thanks, you can also try installing that module without the tests:

[code]

Not sure if this will make a difference, but I am able to install `HTTP::Server::Async` with perl6  2017.06-01 and zef  0.1.21 without disabling tests.

[2017-07-27 18:43] evanmiller commented on #2
The HTTP::Server::Async issue was OS X-specific and is now resolved.

I'm now getting a dependency failure for File::Temp. I have filed an issue here: https://github.com/perlpilot/p6-File-Temp/issues/23

[2017-07-29 08:32] glauschwuffel commented on #1
Hi @scmorrison ,

just a short update: I was able to install Uzu on 2017-06. Uzu still seems to use Bailador in some way:

[code]

I installed Bailador and the same error is reported. I'm still stuck, I'm afraid.

[2017-07-29 12:03] scmorrison commented on #1
Hi @glauschwuffel,

This happens because zef caches these sometimes and doesn't update the cache with new versions. Try the following:

[code]

Hope that works for you.

Thanks,
Sam

[2017-07-29 15:07] glauschwuffel commented on #1
Hi @scmorrison,

clearing the cache as described above didn't help, I had to remove the directories "store" and "tmp" completely.

I have successfully installed uzu now. Thanks for your support!

[2017-08-01 23:06] scmorrison commented on #1
Great, glad you were able to get it installed. Please create more issues if you run into any problems or have questions.

Thanks, Sam

[2017-08-01 23:06] #1 closed

[2017-08-10 13:01] #2 closed

[2017-08-10 13:05] evanmiller opened #3 "Uzu attempts to compile Vim swap files (e.g. .index.tt.swp)"
If I attempt to build a project while editing a template in Vim, I get an error like:

[code]

The regex [passed](https://github.com/scmorrison/uzu/blob/master/lib/Uzu/Render.pm6#L15) to "find" should exclude dot-files, or .swp/.swo files, or both.

[2017-08-10 13:14] evanmiller opened #4 "Support partial variables"
Pages can have their own variables; partials cannot. It would be useful to let partials define internal variables at the top of the template, similar to pages. I guess you would need to decide which variable would take precedence in the event of a name conflict.

[2017-08-10 13:23] evanmiller opened #5 ""if" expression cannot contain dot syntax"
Template:

[code]

Error:

[code]

[2017-08-10 13:25] scmorrison commented on #3
Hi @evanmiller, the regex is only looking for files with the extensions `<tt mustache>`, but I will double check. Delete the swap file and see if you still get the error. If so then the error might also be because some files are missing in the project folder. This is part of a larger issue that I am working on resolving at the moment. Can you make sure your project has at least these files:

[code

[2017-08-10 13:32] evanmiller commented on #3
The error disappears when I close Vim (i.e. delete the swap file). I think the regex needs a $ at the end.

[2017-08-10 13:52] scmorrison commented on #3
I have updated master with the missing $. I use vim myself and haven't run into that error you were seeing, but regardless, thanks for catching it.

You can reinstall using these steps to ensure you get the latest code:

[code]

[2017-08-10 14:02] scmorrison commented on #5
This is an issue with Template6. Looks like there is an [open issue](https://github.com/supernovus/template6/issues/4) for this already. For the meantime, you can use something like this:

[code]

Clunky, but it works.

[2017-08-10 14:05] scmorrison commented on #4
I am open to adding this functionality, can you give some example for how this could be useful? I am sure there are many use cases I am not considering.

[2017-08-10 14:10] evanmiller commented on #3
Still failing. I think the pipe character in the regex is being evaluated as "or" rather than a unary operator applied to $exts -- so the regex matches anything containing a period.

[2017-08-10 14:16] evanmiller commented on #4
I have an index page with a list of articles and a list of software projects. What I'd like to do on the index page is:

[code]

Within the `list_articles` partial, I'd like to define the articles as variables up top, with attributes `name`, `url`, `new`, etc. Basically I am using partials as a way to refactor large pages into manageable chunks that are not necessarily re-used across pages.

[2017-08-10 14:30] scmorrison commented on #3
ok, so... this should be working correctly now... thanks again for catching that. I think I was originally using the `|` because I was expanding a hash into parameters somewhere and .... well. it must have been late.

[2017-08-10 14:31] evanmiller commented on #3
Works, thanks!

[2017-08-10 14:31] #3 closed

[2017-08-10 14:34] evanmiller opened #6 "Error with boolean variables"
If a page contains a boolean variable (e.g. `new: true`), I receive the following error:

[code]

[2017-08-10 14:41] scmorrison commented on #4
Ok, that makes sense. Would you be able to use i18n variables for now?

[code]

...and then only reference them in the partial files.

[code]

[2017-08-10 14:42] scmorrison commented on #6
Try quoting the strings. You will have to quote numbers as well.

[2017-08-10 14:48] scmorrison commented on #6
I have commented this out for the time being.

[2017-08-10 14:52] evanmiller commented on #5
If `article.new` is undefined, this seems to assign the string "article.new" to `new`.

[2017-08-10 14:54] #6 closed

[2017-08-10 16:51] evanmiller commented on #5
Closing, since this is an issue in Template6. (I've moved over to Mustache, which seems to be better maintained.)

[2017-08-10 16:51] #5 closed

[2017-08-11 06:16] scmorrison commented on #4
Hi @evanmiller,

I have added initial support for local variables in partial templates. Partial variables will override page variables.

Thanks,
Sam

[2017-08-11 11:59] evanmiller opened #7 "Generating files with non-html extensions"
I'd like to use Uzu to generate an RSS feed (a file with extension `xml` in my case). I didn't see a way to do this in the documentation.

[2017-08-11 12:36] evanmiller commented on #4
Thanks!

[2017-08-11 12:36] #4 closed

[2017-08-11 15:47] evanmiller opened #8 "YAML error messages are not helpful"
I have a project with ~50 templates. There's an error somewhere in a YAML snippet, but all Uzu tells me is:

[code]

I would like to know what file is failing, and (ideally) on what line number the parse fails.

[2017-08-11 21:57] evanmiller opened #9 "Files with clashing basenames are clobbered"
If I have a project with `pages/index.mustache` and `pages/testing/index.mustache`, the first file is not rendered. Only `build/testing/index.html` appears in the result.

[2017-08-12 01:04] scmorrison commented on #9
Hi @evanmiller, this should be resolved now.

[2017-08-12 01:07] scmorrison commented on #7
This should work now. If a template has an extension before the template extension then uzu will use that extension, otherwise it will use html.

`somefile.xml.mustache` should become `somefile.xml`

This is only for page templates.

Thanks,
Sam

[2017-08-12 01:30] scmorrison commented on #8
Hi @evanmiller, I have added a catch to spit out the template name that it dies on for now. I am going to look into a solution for validating the yaml before trying to parse it. YAMLish doesn't support this yet.

Uzu will still die, but you should now see a message like this:

[code]

[2017-08-12 01:39] #9 closed

[2017-08-12 01:40] evanmiller commented on #7
Thanks!

[2017-08-12 01:40] #7 closed

[2017-08-12 01:41] evanmiller commented on #8
Thanks, much better! I will leave this open until line numbers are provided.

[2017-08-12 01:46] evanmiller opened #10 "Compile times are slow"
My Uzu project is growing in size now (60+ templates, totaling 1 MB of Mustache files) and compile times are now at 5+ minutes. I'd like to put in a request for performance improvements -- it seems like compiling templates in parallel would be a relatively easy speed-up. Profiling shows a lot of time spent in the GC, but I didn't dig in to see if that's an issue with Mustache, or what.

I'm amenab

[2017-08-12 03:30] scmorrison commented on #10
Hi @evanmiller, I have made an initial stab at this. Can you give me some new numbers on your render time?

For now this runs the render steps as Promises. Any performance improvements will depend on the rakudo version you are using.

I like your idea for doing the piecemeal builds. I will see what I can come up with.

[2017-08-12 10:59] evanmiller commented on #10
Thanks. I'm getting a nasty error when I try to install now:

[code]

Looks like a VM bug, so I'll update Rakudo and try again. Just so I don't forget, the current build time for my project is:

[code]

[2017-08-12 11:10] evanmiller commented on #10
Compiling appears to be deadlocked, with 0% CPU used by `moar`.

[code]

Last output:

[code]

[2017-08-12 11:32] evanmiller commented on #10
Looks like a thread-exhaustion issue. Putting `use v6.d.PREVIEW` at the top of Render.pm resolves the deadlock. For context see https://github.com/rakudo/rakudo/pull/1004

The build does not succeed -- I see a dozens of warnings like:

[code]

Then finally:

[code]

[2017-08-12 13:01] evanmiller commented on #10
After some IRC discussion I've filed a Rakudo bug here: https://rt.perl.org/Ticket/Display.html?id=131888

[2017-08-12 13:27] evanmiller opened #11 "Segfault with latest Rakudo"
Likely a bug in Rakudo, but I wanted to make you aware of memory errors when testing Uzu with the latest Rakudo. I've filed a bug against Rakudo here: https://rt.perl.org/Ticket/Display.html?id=131889

[2017-08-12 13:37] scmorrison commented on #10
Ok, I have added `use v6.d.PREVIEW` for now. I am going to follow this closely and add more parallelism as it matures.

[2017-08-12 13:39] scmorrison commented on #11
Thanks, there is a discussion on p6 multithreading here as well https://stackoverflow.com/questions/43449883/how-many-promises-can-perl-6-keep/43452246

[2017-08-12 14:01] evanmiller commented on #10
From my general experience maybe it's best to confine the parallelism to the innermost loop -- e.g. compile individual templates in parallel, but do the languages in sequence. If you saturate all the cores in the innermost loop, then there's not really any added benefit to parallelizing the outer loops.

[2017-08-12 15:36] scmorrison commented on #11
I am backing out of the promises for now. It left everything too unstable. A new issue that was introduced is the watch dev server would just hang after a few re-renders. Fortunately they are putting a lot of effort into these features. So hopefully we will have something more reliable soon.

[2017-08-12 15:50] evanmiller commented on #11
That's fine with me. Someone in IRC suggested using `.hyper.map` to get parallelism without using promises.

[2017-08-12 16:10] #11 closed

[2017-08-13 12:19] evanmiller opened #12 "Incremental build output"
For large builds it would be nice if HTML files were written to disk as they became available, rather than all at once. It would also be convenient if pages were compiled from newest to oldest mtime, so that templates that I'm working on would be compiled (and available for inspection) first.

[2017-08-14 01:44] scmorrison commented on #12
Hi @evanmiller, I have taken an initial step in this direction. The issue with the way the sorting is implemented at the moment is that even though the templates are now sorted by modified timestamp in the initial search, these end up in a hash and order isn't guaranteed in the loop that processes them. I will eventually add these to a sortable list before processing.

Also, I have implemented a f

[2017-08-14 02:34] evanmiller commented on #12
Thanks. Works fine, I'm seeing an improvement as well, esp. with system time. I'd still like to see the HTML files appear incrementally as my total build time is still over 5 minutes.

Smart re-rendering or anything else that you can do to cut down build time would be very much appreciated. I'm now using Uzu in production on my personal website (evanmiller.org) with 70+ templates. At this point I

[2017-08-14 02:37] evanmiller commented on #10
For parallelism without the promise/await stuff, you might check out the `.hyper` method:

https://docs.perl6.org/routine/hyper

[2017-08-14 02:43] scmorrison commented on #10
I have been messing around with hyper and I am still getting the segfaults. It does seem to be relatively stable on the later rakudo commits though.

[2017-08-14 02:45] scmorrison commented on #12
Nice, thanks for the positive feedback. I really do appreciate your input and ideas. Expect some progress on partial builds within the next few weeks.

[2017-08-14 10:29] scmorrison commented on #12
@evanmiller, i have added a modification that changes the build behavior.

1. The build directory is no longer cleared before every build, but you can run `uzu --clear build` to have uzu use the old behavior. Also added `uzu clear`.
2. Uzu will no longer rebuild everything for every build. It will only rebuild a page if the page's layout, template, or any partial template have been modified. So th

[2017-08-14 10:31] evanmiller commented on #10
I filed a second issue against Rakudo regarding segfaults with your previous commits. The Rakudo folks are able to reproduce and seem to be making progress on it. 🤞 https://rt.perl.org/Public/Bug/Display.html?id=131889

[2017-08-14 10:47] evanmiller commented on #12
@scmorrison, this change is very welcome. It will definitely speed up my development when I am working on new pages.

One issue I encountered is that modifications to `i18n` do not force the affected template files to be rebuilt.

[2017-08-14 11:54] scmorrison commented on #12
@evanmiller, good timing. i just committed a fix for the i18n timestamps. Those should also trigger a rebuild now.

[2017-08-14 21:01] evanmiller opened #13 "Access another page's title / variables"
I have a website with a "Related" section at the bottom of each article. Right now I generate the links with a `related` variable on each page, like this:

[code]

I'd like to cut down on possible errors (and repetitive work) by providing only the file name, and have Uzu figure out the title of each related article, perhaps by extracting the `title` variable from the appropriate (linked) template.

[2017-08-14 23:33] scmorrison commented on #13
Hi @evanmiller,

I am implementing something similar to this for building a category index, extracting `title`, `date`, and `author` if they are available in the page template.

For `related` links how about something like this:

1. Each item in a `related` yaml dict requires `- link`
2. If an page is found that matches the `link` path (article1, /path/to/article4) then we try extracting `title`,

[2017-08-15 01:12] evanmiller commented on #13
@scmorrison That strategy works for me. My only suggestion would be to call it `page` instead of `link`, and apply the algorithm to any array that matches `*_pages` (e.g. `related_pages`). That way I could have multiple (unrelated) page arrays within each template.

[2017-08-15 02:08] scmorrison commented on #13
@evanmiller good idea. Let's use these names:

[code]

So the following variables will be exposed if available: `page`, `title`, `date`, `author` for each `*_pages` dict.

[2017-08-15 02:14] evanmiller commented on #13
Is there a reason not to expose all variables? I'm working on a new project where links need two identifiers (`topic`, `page`) in order to construct a URL.

[2017-08-15 02:44] scmorrison commented on #13
That shouldn't be too difficult. I will pull those in too. I do think there should be a few standard variables like `page`, `title`, `date`, and `author` so that we can use these to dynamically build other site meta / indexing (categories index, tags index, sitemap, etc).

[2017-08-15 07:31] scmorrison commented on #13
@evanmiller, I have committed a first stab at this. Please test it and let me know if you run into any issues.

Any `_page` dict will be parsed and expanded if `page` matches any files in `pages/`. For nested pages use this format: `path/to/page`.

The `page` variable will also be expanded to the `uri`, for example:

* when `page: article1`, `page` becomes `/article1.html`
* when `page: blog/vacat

[2017-08-15 10:30] evanmiller commented on #13
Maybe I'm doing something wrong but I'm not seeing the page information.

[code]

Produces:

[code]

Any ideas? Also is `page` relative to the `pages` folder or relative to the current template?

[2017-08-15 11:33] scmorrison commented on #13
Hi @evanmiller,

I think that is happening because the page templates don't exist for those related pages or maybe the page yaml is missing for the related page templates?. `page` should be relative to the `pages` folder.

Also, I just pushed a fix that stops the build process if one of the related files is missing.

This how i have my test project setup.

**pages/compute/about_indicator.mustache*

[2017-08-15 11:43] evanmiller commented on #13
I'd actually prefer a warning to an error if a related page is non-existent, so I can perform and inspect the migration incrementally (working with 100+ templates in this project). It will be harder for me to test this feature if the build is aborted.

[2017-08-15 12:05] evanmiller opened #14 "uzu init should support Mustache"
Right now `uzu init` creates a project with `.tt` files. There should be an option to create .mustache files instead (and of course set `template_engine` appropriately in config.yml).

[2017-08-15 12:08] scmorrison commented on #13
ok, now uzu will print out a message when it is unable to find a related page template:

[code]

[2017-08-15 12:10] evanmiller commented on #13
Thanks. I've reproduced your file layout exactly in a new project, and the output I see is:

[code]

Could it be a mustache version mis-match, or something?

[2017-08-15 12:13] evanmiller opened #15 "uzu version produces an error"
[code]

[code]

[2017-08-15 12:14] scmorrison commented on #14
Thanks for capturing this. I have been planning on making mustache the default and adding an option for init to select the template. init needs to be a little smarter in how it handles user input as well.

[2017-08-15 12:28] evanmiller commented on #13
Yep l've been using `--clear`. I also tried reinstalling Mustache and see the same behavior as before. Maybe add test coverage for this feature so we can start narrowing it down?

[2017-08-15 12:28] scmorrison commented on #15
This is working again. Thanks.

[2017-08-15 12:28] #15 closed

[2017-08-15 12:31] scmorrison commented on #13
There are already two tests for each template engine.

[2017-08-15 12:33] scmorrison commented on #13
I will try with your current rakudo version (2017.07-158-g7b81f0f99) and see how far it gets...

[2017-08-15 12:35] evanmiller commented on #13
OK -- I'm just wondering why the tests would pass on my machine but I'd still see the described behavior. Do you have i18n files in your test project? Just wondering what could be different.

[2017-08-15 12:37] evanmiller commented on #13
When I `uzu build` inside `t/example_project_mustache`, I see this in `build/related.html`:

[code]

So it looks like it's not finding expanding the `page` variables here either.

[2017-08-15 12:46] scmorrison opened #16 "Don't die if public or themes/**/assets folders are missing or empty"

[2017-08-15 12:49] evanmiller commented on #13
Ok, it's working now! I must have had outdated Uzu code installed somehow. I thought I had been properly uninstalling / rm'ing / installing but maybe something slipped through the cracks. Anyway the feature is working as advertised, I'll open a new issue if I encounter any problems.

One last observation, rewriting the "page" variable doesn't seem right to me -- I think it'd make more sense to cre

[2017-08-15 12:49] #13 closed

[2017-08-15 14:01] evanmiller opened #17 "Themed partials"
I have a project with HTML content that I need to render in two very different contexts:

* For a website
* As an Apple Help book

Apple Help books are directories of HTML files, but have peculiar formatting and linking rules, so I really would like a separate set of partial templates. I was thinking maybe each context use the "theme" feature and override the default partials. E.g.

[code]

Would

[2017-08-15 14:30] scmorrison commented on #17
Would creating new partials in the normal `partials/` directory and including those in your helpbook layout work?

[code]

Also, I will add an option like `uzu --layout helpbook build` for specifying a target theme to use. It would probably be useful to expose the current `theme` and `page_name` to the templates as well.

[2017-08-15 14:36] evanmiller commented on #17
Hi, I think I need parallel partials. A typical article looks like this:

[code]

Unless you're suggesting I move `{{> article_header }}` and `{{> article_footer }}` over to the layout file? I suppose that could work; I've usually just thought of the layout file as providing the very basics though.

[2017-08-15 14:59] scmorrison commented on #17
ok, how about something like this. uzu already supports nested partial folders:

[code]

I can expose a new variable for the current theme and you could use something like this in the mustache templates:

[code]

Do you think something like that would work for your use case?

[2017-08-15 15:09] evanmiller commented on #17
The example you give results in considerably more code than just allowing partials in the themes directory. I'm not sure I understand what the harm is, since there's already a layout template in there.

[2017-08-15 15:28] scmorrison commented on #17
No harm, and actually, now that I think about it, it would be worth supporting as it will also make themes more portable. Ok, give me a couple of days and I will see what I can come up with.

[2017-08-15 15:29] scmorrison opened #18 "Add layout option to uzu build"

[2017-08-15 15:31] evanmiller commented on #17
Thanks!

[2017-08-15 15:35] scmorrison opened #19 "Make mustache the default template engine"

[2017-08-15 17:21] evanmiller opened #20 "Editing partials does not force recompile of all affected templates"
I've noticed lately that after editing a partial, "uzu build" will not recompile all of the affected templates. This used to work I think, so maybe something changed in the last few days.

[2017-08-15 22:51] scmorrison commented on #20
Thanks, this is working again.

[2017-08-15 22:51] #20 closed

[2017-08-16 12:44] scmorrison commented on #17
Hi @evanmiller, I have added initial support for theme partials. Theme partials override the top-level partials if they share the same file name.

[2017-08-16 13:09] evanmiller commented on #17
Excellent! I won't be using the feature immediately but I'll open a new issue if I encounter any problems.

By the way, I've found that removing `.perl6/precomp` solved some problems I had with updated versions of Uzu not seeming to be installed. Might add a note to the README next to the tip about removing `.zef/store/uzu.git` etc.

[2017-08-16 13:09] #17 closed

[2017-08-16 13:21] scmorrison commented on #17
thanks for the tip. I will add it to troubleshooting.

[2017-08-16 17:44] evanmiller opened #21 "Editing a partial forces rebuild of all templates"
I guess this is the converse of #20. Editing a partial now rebuilds all templates, rather than only the templates that include the partial.

[2017-08-16 19:47] evanmiller opened #22 "Layout file should be optional"
Building a project without a layout file gives this error:

[code]

[2017-08-16 19:59] evanmiller opened #23 "Templates with embedded YAML insert a newline at the top"
The slurp appears to pull in the newline between the last `---` and the actual template data. This newline should be discarded.

[2017-08-16 20:12] evanmiller opened #24 "Warn if layout does not contain "content" variable"
More than once I've accidentally named it `contents` and ended up with a bunch of empty HTML files. Would be great if Uzu issued a warning if it doesn't find the `content` variable.

[2017-08-16 20:17] evanmiller opened #25 "Disable layout on a per-page basis"
I have a project where one file needs to be XHTML, and all other HTML (all built files need to have extension  `.html` though). I'd like to be able to disable the layout for the one XHTML page.

[2017-08-16 21:52] evanmiller opened #26 "Support "*_pages" expansion feature in nested variables"
It appears the `*_pages` expansion only works for top-level variables. I have some pages with nested hierarchies of links (e.g. `categories/subcategories/sub_pages`); it would be great if the algorithm could be applied to nested variables/attributes as well as top-level ones.

[2017-08-17 02:43] scmorrison commented on #21
This should be working correctly now. I have added a summary to the readme that outlines what triggers a page rebuild:

https://github.com/scmorrison/uzu#page-render-conditions

[2017-08-17 03:54] #21 closed

[2017-08-17 06:55] scmorrison commented on #25
Hi @evanmiller, you can now create a `nolayout` variable in page yaml and the page will render without the layout.

[code]

The value can be anything, the variable just needs to be defined.

[2017-08-17 06:56] scmorrison commented on #24
uzu will now output a warning if the page template is empty.

[2017-08-17 06:57] scmorrison commented on #23
This is fixed now. You should no longer see the newline in the generated files.

[2017-08-17 06:58] scmorrison commented on #22
This should be fixed now. If the layout file is missing then the pages will render without error.

[2017-08-17 07:02] #16 closed

[2017-08-17 10:21] evanmiller opened #27 "Intermittent test failure: '[Template6] modifying an unrelated partial does not trigger page rebuild'"
I saw this with the latest code. Running it a second time, the tests passed.

[code]

[2017-08-17 10:22] evanmiller commented on #25
Works great, thanks!

[2017-08-17 10:22] #25 closed

[2017-08-17 10:22] evanmiller commented on #24
Thanks!

[2017-08-17 10:22] #24 closed

[2017-08-17 10:22] evanmiller commented on #22
👍

[2017-08-17 10:22] #22 closed

[2017-08-17 10:25] evanmiller commented on #23
Perfect, thanks!

[2017-08-17 10:25] #23 closed

[2017-08-17 11:32] scmorrison commented on #27
Thanks, I will keep an eye on it.

[2017-08-17 12:12] evanmiller opened #28 "Error: Odd number of elements found where hash initializer expected"
I'm not sure what's causing this error. For what it's worth I've recently been adding partials with nested includes.

[code]

[2017-08-17 12:17] evanmiller commented on #28
Maybe related, another error I'm seeing:

[code]

[2017-08-17 13:21] scmorrison commented on #28
ok, the first error looks like it might be related to the way the mustache module renders. It will escape everything. I have added a step to unescape the embedded partials before passing them on to the parent templates. Let me know if that solves the first issue.

[2017-08-17 13:33] evanmiller commented on #28
Thanks. The errors are fixed.

[2017-08-17 13:33] #28 closed

[2017-08-17 13:36] evanmiller opened #29 "Variables don't propagate to embedded partials"
pages/index.mustache:
[code]

partials/partial1:
[code]

partials/partial2:
[code]

Expected output: build/index.html contains "Hello!"

Actual output: build/index.html is empty

[2017-08-17 14:08] scmorrison commented on #29
ok, this should work as expected now. also added coverage for embedded partials.

[2017-08-17 14:34] evanmiller opened #30 "HTML entities are being decoded"
A template containing `&gt;` is decoded to `>`.

[2017-08-17 14:35] #29 closed

[2017-08-17 14:43] evanmiller opened #31 "Deeply embedded partials expand to nothing"
pages/index.mustache:

[code]

partials/partial1.mustache:
[code]

partials/partial2.mustache:
[code]

partials/partial3.mustache:
[code]

Expected output: `<partial2><partial3>Hello!</partial3></partial2>`

Actual output: `<partial2></partial2>`

[2017-08-17 14:53] evanmiller opened #32 "Dot files are copied from assets to build"
I noticed that e.g. Vim swap files in `assets` are being copied over to my build directory.

[code]

[2017-08-17 21:29] evanmiller opened #33 "decode-entities incorrectly decodes &nbsp;"
Not sure where all this is used besides #30, but I noticed that `&nbsp;` is being decoded to ASCII space U+0020. It should be decoded to U+00A0 (NO-BREAK SPACE).

[2017-08-18 02:56] scmorrison commented on #32
Yeah, uzu copies `public/` and `themes/**/assets/` wholesale. The reason for this is that the user might have a hiddent file that they want to keep within their uzu project.

I use vim too and I use something like this im my `.vimrc` that moved the backup dir. The .swp files will be saved in there instead.

[code]

Hope that helps. I have added a [note](https://github.com/scmorrison/uzu/tree/dev#p

[2017-08-18 03:02] evanmiller commented on #32
Ok. In the future a config option that behaves similarly to `.gitignore` would be nice.

[2017-08-18 09:04] scmorrison commented on #31
Hi @evanmiller, a first pass at this has been added. Variables will propagate from the page and every parent partial into the deepest partials.

[2017-08-18 11:50] evanmiller commented on #31
Thanks. The partials are expanding now, but the variables are behaving unexpectedly.

pages/about_indicator.mustache:
[code]

partials/see_also.mustache:
[code]

partials/link.mustache:
[code]

Expected output:
[code]

Actual output:
[code]

[2017-08-18 12:47] scmorrison commented on #31
ok, so... this is a tricky one. There is currently no way to pass these loop iteration variables to the child template. So what you are seeing is the child template picking up the `page` `title` variable.

For example, if you do this:

pages/about_indicator.mustache:

[code]
partials/see_also.mustache:

[code]

partials/link.mustache:

[code]

Then the `see_also_pages` has will be correctly propag

[2017-08-18 13:03] evanmiller commented on #31
Thanks for the explanation. Should I file an issue with Template::Mustache about this? My understanding of partials is that they are to be treated exactly the same as a compile-time text expansion.

As implied by the example I want to use a `link` partial for URL construction that can be overridden by specific layouts. The solution you provide creates a lot more work because it means I need separa

[2017-08-18 13:07] scmorrison commented on #31
This is more of a trade-off for supporting partial-level variables. The `link` partial has been pre-rendered with its variables before it is included inside the `see_all_pages` loop.

[2017-08-18 13:17] evanmiller commented on #31
Do you have any suggestions (or plans) for supporting per-layout URLs? I might be able to hack around it if there are custom layout variables of some kind available, maybe similar to i18n variables. E.g. I would make `layout.root_url`, `layout.separator`, `layout.url_postfix`, etc.

[2017-08-18 13:26] scmorrison commented on #31
Yeah, that is a good idea. We could take any variables defined in layout yaml to a `layout` hash.

layout.mustache
[code]

would become `layout.root_url`, `layout.separator`, `layout.url_postfix`, `layout.misc`.

[2017-08-18 13:52] evanmiller commented on #31
@scmorrison That works for me. I think with a `layout` hash in place, I'll be able work around the loop-variable issue.

At any rate, the original issue here is resolved, so I will close out this issue.

[2017-08-18 13:52] #31 closed

[2017-08-18 15:08] evanmiller commented on #30
This issue appears to have been resolved.

[2017-08-18 15:08] #30 closed

[2017-08-18 15:28] evanmiller commented on #33
Fixed in https://github.com/scmorrison/uzu/commit/f2d4a65d3027c1f31b64e51fcf06d4fd05b418f8

[2017-08-18 15:28] #33 closed

[2017-08-18 15:31] evanmiller opened #34 "Variables inside partials are not HTML-encoded"
pages/index.mustache:
[code]

partials/header.mustache:
[code]

Expected output:
[code]

Actual output:
[code]

[2017-08-19 02:26] scmorrison commented on #34
@evanmiller, this should be working correctly now, but you will need to make a small modification to your layout template. You need to include `content` as a partial instead of as a variable.

This:
[code]

is now:
[code]

This update should resolve any html-decode issues you were having as well.

[2017-08-19 02:27] scmorrison commented on #31
The `layout` variable is now available. Please let me know if there are any issues. This variable is accessible even if the page uses the `nolayout` flag.

[2017-08-19 02:48] scmorrison commented on #32
It would be useful. Let's use this issue to capture ideas around the config option for now. Maybe something like this:

[code]

I would also like to make the copy behavior more rsync-like.

Right now using `cp` is fast. Whatever replaces it needs to be relatively speedy (and work on Windows) so builds don't get hit with huge file copy cost for each build.

[2017-08-19 03:45] evanmiller commented on #34
Thanks, it works as expected now.

[2017-08-19 03:45] #34 closed

[2017-08-19 12:35] evanmiller commented on #32
I like the `exclude_files` ideas. At least for my projects, I doubt that custom file copy logic will begin to compare to the template rendering times described in #10, so I'm in favor of using an exclusion list.

[2017-08-19 13:24] scmorrison commented on #26
Hi @evanmiller, can you share an example of a structure you want to support? You can now do something like this:

[code]

[2017-08-19 14:00] evanmiller commented on #26
I'm looking for:

[code]

I updated Uzu, but this still doesn't seem to be working.

[2017-08-19 14:15] scmorrison commented on #26
This structure should work, I just did a copy / paste test and it looks like it is working. Maybe test a full uzu reinstall again. You can access it from `{{ category_pages }}`.

[2017-08-19 14:18] evanmiller commented on #26
To be clear I want to access it like:

[code]

Should that work? If so I will reinstall and test again.

[2017-08-19 14:30] scmorrison commented on #26
This would work:

[code]

[2017-08-19 14:34] evanmiller commented on #26
`category_pages` should not be a top-level variable. It should remain an attribute of `categories`. I want to do something like:

[code]

[2017-08-19 14:45] scmorrison commented on #26
I understand what you are after now. I'll let you know when I have something working to test.

[2017-08-19 18:22] evanmiller commented on #10
A second project with 800KB of template files has this compile time:

[code]

Uzu is becoming almost unusably slow for me, 8+ minutes here. I would very much appreciate any efforts to profile and improve performance.

[2017-08-20 07:25] scmorrison commented on #10
I feel your pain. I have added a `--page-filter`option to facilitate restricting renders to `pages` sub-directories.

[code]

This is the current behavior:

* Only templates nested under the filter path will be rendered
* `uzu --clear --page-filter=compute build` still removes everything from build, but only rebuilds starting from the filter path
* works with both `build`, and `watch`
* Parent tem

[2017-08-20 11:42] evanmiller commented on #10
Thanks, I'll give the page filter a shot when I'm working on my websites next.

Your test script has a race condition -- IIRC pushing to an array isn't thread-safe. Try

[code]

[2017-08-20 11:55] scmorrison commented on #10
Yeah, I have already tried that as well. Same results. Sometimes it throws this too:

[code]

[2017-08-20 11:58] evanmiller commented on #10
Do you have a Perlbug RT account? If so it would be great if you contributed your findings here:

https://rt.perl.org/Public/Bug/Display.html?id=131888

[2017-08-20 12:03] scmorrison commented on #10
Thanks, I have added a comment with a link to that gist.

[2017-08-20 12:11] evanmiller commented on #10
It might also be worth raising an issue with Template::Mustache. They might have insight into any non-thread-safe behavior in the library.

[2017-08-22 09:13] scmorrison commented on #26
This should work now. But I did a bit of an overhaul on the way these are parsed so let me know if it has impacted any of your other variables. Also improved stability and error handling somewhat.

[2017-08-22 11:25] evanmiller commented on #26
Hi, this is still not working as expected.

[code]

Output:

[code]

[2017-08-22 12:03] scmorrison commented on #26
Hi @evanmiller, it seems to work for my tests. I tested with both of these structures:

[code]

and

[code]

also, I upped the version to `0.2.2`, can you confirm that this is the latest?

[2017-08-22 12:20] evanmiller commented on #26
Ah, looks like I was creating two hashes on accident. It's working now. Thanks!

[2017-08-22 12:20] #26 closed

[2017-08-22 12:21] scmorrison commented on #26
Excellent. Hope it helps with your site.

[2017-08-22 12:27] evanmiller opened #35 "Build multiple themes / layouts"
Hi, I have a project with two themes. I'd like a way to build both themes at once instead of manually copying the build directory and changing the config file. I think if multiple themes are present (defined in config?) `uzu build` should output a subdirectory in `build/` for each theme. E.g. `build/website/`, `build/helpbook/`, etc. Then a build-time option could limit builds to a particular them

[2017-08-22 12:30] evanmiller commented on #26
[code]
Much better :-D

[2017-08-23 10:28] scmorrison commented on #35
This is a good idea. It will make dealing with multiple themes a lot easier. A few ideas.

We need two options for the cli that will handle targeting builds for specific themes / build directories:

* `--theme` - specify a target theme to build that will override the existing config `theme:` variable.
* `--build-dir` - specify a custom build dir

Then for the build-all-themes-at the same time func

[2017-08-23 10:29] scmorrison commented on #26
That is great. Very cool to see that.

[2017-08-23 11:17] evanmiller commented on #35
This works for me. I would want the possibility of `build_dir` being an absolute path (since I'm just going to copy it anyway), and also a way to exclude certain pages from particular themes. For my project, all of the article pages will be compiled for both themes, but I have completely separate index templates. (An alternative would be having a `pages` directory inside `themes/xxx/`, but I'd be

[2017-08-26 10:48] scmorrison commented on #35
Hi @evanmiller,

I have committed support for multiple theme management. Also added support for `exclude_pages` list in the `config.yml` root and for individual themes. Here is what a multi-theme yaml declaration looks like:

[code]

You can just specify the folder names without the additional theme params, or set overrides for `port`, `build_dir`, and `excluded_pages`.

Also added a new cli optio

[2017-08-26 22:40] evanmiller commented on #35
Thanks @scmorrison, will try this feature out later. If it's not working I'll open a new issue.

I continue to  appreciate your quick responses to feature requests.

[2017-08-26 22:40] #35 closed

[2017-10-02 04:59] scmorrison commented on #19
mustache can now be selected when running `uzu init`

[2017-10-02 04:59] #19 closed

[2017-10-02 05:02] scmorrison commented on #18
Theme can be specified when using `uzu build` to limit build to specified theme:

[code]

[2017-10-02 05:02] #18 closed

[2017-10-02 05:04] scmorrison commented on #27
This seems to be resolved. Closing for now, please let me know if you see this again.

[2017-10-02 05:04] #27 closed

[2017-10-02 05:06] scmorrison commented on #14
`uzu init` now asks for template engine: `mustache` or `tt`.

thanks,
sam

[2017-10-02 05:06] #14 closed

[2018-10-31 18:12] evanmiller opened #36 "Test failure in v0.2.3"
[code]

On an existing installation I get an error when the logger is invoked:

[code]

[2018-11-01 07:20] scmorrison commented on #36
Hi @evanmiller, thanks for the Issue. I have made a slight modification that should resolve this for you. (`zef install . --force-install`) Which version of rakudo are you seeing this error on?

Thanks again,
Sam

[2018-11-01 18:17] evanmiller commented on #36
[code]

I still get a test failure:

[code]

[2018-11-02 18:33] evanmiller commented on #36
[code]

[code]

[2018-11-17 13:57] evanmiller commented on #36
[code]

[2018-11-19 02:01] scmorrison commented on #36
Hi @evanmiller, not sure what is causing this. The tests have plans. Something different, when I run the same command zef uses `Zef::Service::Shell::prove` instead of `Zef::Service::TAP`

[code]

I am using `zef:ver<0.5.3>`, can you try upgrading zef to the latest version (`zef install zef --force-install`) and rerun? This could also be something related to the Test modules in the rakudo distribut

[2018-11-22 01:55] scmorrison commented on #36
Hi @evanmiller, I'm not sure if this will make any difference, but I reinstalled `YAMLish` today and it introduced some new errors, which are resolved now in uzu. This might have been what was causing those zef errors you are seeing.

[2018-11-22 04:41] evanmiller commented on #36
[code]

[2018-11-22 07:03] scmorrison commented on #36
Hi @evanmiller, This should be working now. `Test::Harness` wasn't happy with the way the plans were defined. Thanks again.

[2018-11-22 16:32] evanmiller commented on #36
It works, thanks!

[2018-11-22 16:32] #36 closed

[2018-12-20 13:13] evanmiller opened #37 "Failed test '[Mustache] use theme partial'"
[code]

[2018-12-20 13:49] scmorrison commented on #37
Hi @evanmiller, thanks for letting me know. I'm not 100% sure why that isn't including the footer partial in the test output. But this might be related a behavior change 'v6.d'. I had to make a few modifications to the tests in regard to the 'Test::Output' module this week. I just merged those into master now. Can you pull and test these again on your side? Thanks.

[2018-12-20 13:52] scmorrison commented on #32
@evanmiller I have added an `exclude` option that allows you to specify file names and folder names to exclude from copying.

[code]

It will exclude any file or folder that matches full / partially any of the strings in that list.

[2018-12-20 14:47] evanmiller commented on #37
Works now, thanks!

[2018-12-20 14:47] #37 closed

[2018-12-20 14:50] evanmiller opened #38 "Type check failed in assignment to @seen_build_dirs"
I'm seeing the following error when attempting to build a project that has two themes:

[code]

[2018-12-20 14:51] evanmiller commented on #32
@scmorrison Thanks. Does globbing work with this feature? My original goal was to exclude files matching `.*.swp`

[2018-12-20 15:40] scmorrison commented on #32
No, not yet. But something like `.swp` should work to catch anything with .swp extension.

[2018-12-20 16:02] scmorrison commented on #38
Just pushed a commit that should resolve this. Thanks.

[2018-12-20 17:05] evanmiller commented on #38
Now I get

[code]

[2018-12-20 18:30] scmorrison commented on #38
Ok, this is working again. I'll add coverage for this.

[2018-12-20 19:17] #38 closed

[2018-12-20 19:22] evanmiller opened #39 "Failed test '[Mustache] rendered HTML matches test'"
[code]

[2018-12-22 03:32] scmorrison commented on #39
Thanks @evanmiller, in the test output that you posted one of the partials isn't being rendered. I am unable to replicate this, which is unfortunate.

For reference, I am testing this on macOS + rakudo-star 2018.10 and linux rakudo 2018.11 against commit id `061a10695d0dd37f6375a53614829d2dd2a812bc`.

Can you provide me with more details about your setup? Which version of rakudo are you running? I

[2018-12-22 17:07] evanmiller commented on #39
macOS, downloaded Rakudo directly from the website

[code]

Same Uzu commit that you listed.

I'm getting another test failure now:

[code]

[2018-12-23 02:01] scmorrison commented on #39
Ok, that is good to know. It is possible that there is something wrong with one of the dependencies or something to do with `,precomp`. Can you try first reinstalling all of the dependencies:

[code]

Then clear out the `precomp` folder:

[code]

Then try rerunning the tests.

Thanks,
Sam

[2018-12-23 12:35] scmorrison commented on #39
Hi @evanmiller, I was able to *sort of* replicate this issue. I setup the tests to run on an infinite loop and after an hour or so I started seeing random test failures, with results similar to what you have posted. I have separated the tests for each template engine into their own `.t` files and set the looping tests to run again. It has been a few hours and I haven't seen any failures.

For now

[2018-12-23 22:30] scmorrison commented on #39
Hi @evenmiller can you run the split template engine test files? You can clone fresh to an alternate location. I've had the latest commit running on loop all night and it hasn't errored on macOS / rakudo 2018.10.

[2018-12-23 22:44] evanmiller commented on #39
[code]

[2018-12-23 22:59] scmorrison commented on #39
Thanks. Can you also try clearing out `~/.perl6/precomp` and rerunning?

[2018-12-23 23:12] evanmiller commented on #39
[code]

[2018-12-23 23:39] scmorrison commented on #39
The most frustrating part about this is not being able to replicate the results you are seeing on any of my systems now.

Here are the results from travis for the last commit against the separated tests:

https://travis-ci.org/scmorrison/uzu/jobs/471576602#L1349

A few ideas:

* try running tests for an older commit (the bump to 0.2.7 or earlier 017a827dcec3aa73f37787f411663e5340266081)
* try runn

[2018-12-24 00:31] scmorrison commented on #39
Also, another idea. What happens if you simply run the tests individually with `perl6`?:

[code]

Also, it might be worth, against the latest commit, copying the `xt/*.t` files into `t/` and running `zef test` without `tap-harness`:

[code]

If those succeed then we can rule out the tests and I will focus on `TAP::Harness` to see if I can replicate these failures.

[2018-12-24 00:52] evanmiller commented on #39
[code]

[2018-12-24 00:54] evanmiller commented on #39
[code]

[2018-12-24 02:34] scmorrison commented on #39
Hi @evanmiller, I really do appreciate you testing this and providing all of this output.

I rolled back some promise use in the current dev branch. I am not sure if this will make any difference, but it will force rakudo into more synchronous behavior. It might be related to the random wonkiness you are seeing.

Can you first clear out your local `lib/.precomp` and `~/.perl6/precomp` before runni

[2018-12-24 02:45] evanmiller commented on #39
Seems better!

[code]

Tried it 5 times with 5 successes.

[2018-12-24 02:51] scmorrison commented on #39
Hallelujah! ha, well then, I am going to hold off on the performance improvements until rakudo-star on macOS is well into `v6.d`. I will bump the version and get this into master. Thanks again for sticking this out with me.

[2018-12-24 02:51] #39 closed

[2019-01-21 01:33] evanmiller opened #40 "The number 0 is not rendered"
[code]
Expected: $0
Actual: $

[2019-01-21 03:44] scmorrison commented on #40
Thanks @evanmiller, I'll take a look. Just in case you need the zero right away you can use:

[code]

[2019-01-25 02:00] scmorrison commented on #40
Hi @evanmiller,

This only affects mustache templates. I have opened a new [Issue](https://github.com/softmoth/p6-Template-Mustache/issues/25) on Template::Mustache.

For now please use the string `'0'` for zeros if you need these in your templates. Again, thanks for posting the issue. I will keep this issue open until I hear anything from Template::Mustache.

[2019-02-06 11:10] scmorrison commented on #40
@evanmiller, this issue has been resolved in the `Template::Mustache` (https://github.com/softmoth/p6-Template-Mustache/issues/25). Please upgrade your local `Template::Mustache`, you will probably need to clear out the old `Template::Mustache` first:

[code]
Then reinstall:

`zef install Template::Mustache`

Thanks again,
Sam

[2019-02-06 11:10] #40 closed

[2019-02-06 13:14] evanmiller commented on #40
Thanks, works great now.

[2019-03-12 13:57] evanmiller opened #41 "Test failure with 0.3.4"
[code]

[2019-03-16 03:03] scmorrison commented on #41
Hi @evanmiller, thanks for letting me know. I am not able to reproduce this in my test environment, but my suspicion is that the version of YAMLish on your system, or perhaps one of the other dependencies is out of date. Can you try re-installing the deps and then trying to run this again? I have added additional troubleshooting tips to the [README](https://github.com/scmorrison/uzu#troubleshootin

[2019-03-16 09:20] evanmiller commented on #41
I get the same error. If you scroll right you'll see there are many more errors than just the YAML one.

[2019-03-16 09:24] evanmiller opened #42 "Add OSX to Travis build targets"
I seem to hit errors often when upgrading Uzu on OS X. It would be nice to have a Travis build target so that I can rule out platform issues.

[2019-03-20 07:40] scmorrison commented on #41
Hi @evanmiller, can you try installing from cpan?

`zef install Uzu --force`

Also, I think your local clone is out of date. Most of the `t/*.t` files have been moved to `xt/`and are omited from the install tests.

Thanks,
Sam

[2019-03-20 08:20] scmorrison commented on #42
Hi @evanmiller, this is definately a goal. Right now Perl 6 builds are not available on the macOS environment on travis, but I will add an osx build target as soon as it becomes available.

Going to close this issue for now. Thanks again.

[2019-03-20 08:20] #42 closed

[2019-03-20 10:10] evanmiller commented on #41
Ah, the out-of-date tests probably did it. `zef install Uzu` works great. Thanks.

[2019-03-20 10:10] #41 closed

[2019-04-28 19:54] uzluisf opened #43 "Theme examples"
Any theme examples using any of the template engines? I'm currently using Hugo ([theme](https://github.com/uzluisf/mondo) I'm using) but I'd like to give Uzu a try.

[2019-05-17 20:45] #43 closed

[2019-08-13 20:18] uzluisf opened #44 "Uzu theme and demo site"
When I came across Uzu, I was happy to learn there was a static site generator written in Perl 6. However, the fact that I couldn't figure out how to create themes and write Mustache templates kept me from trying it out. I know there's the simple site created with `uzu init` but I always wished it had more content (Mustache templates and partials, CSS and more HTML pages).

I finally got around it

[2019-08-13 20:28] scmorrison commented on #44
Hi @uzluisf, thanks for creating this. I will add a link to `uzu-demo-site` to the readme under `Getting Started`.

[2019-08-15 14:54] uzluisf commented on #44
No problem ;-)!

[2019-08-21 00:48] scmorrison commented on #44
@uzluisf I have added a link to the Uzu Demo Site to the readme. Thanks again!

[2019-08-21 00:48] #44 closed

[2020-04-08 11:15] evanmiller opened #46 "Variable for the current page?"
I'd like to access the URL slug of the currently rendered page (e.g. `blog/index`, `about`) within a template. Is there a way to do that?

[2020-04-08 12:21] samcns commented on #46
Hi @evanmiller

There isn't a slug built in, but you could add a page variable at the top of the page template:

[code]

And then access it from any partial / theme layout (e.g. `{{ slug }}`).

[2020-04-08 12:23] scmorrison commented on #46
Hi @evanmiller

There isn't a slug built in, but you could add a page variable at the top of the page template:

[code]

And then access it from any partial / theme layout (e.g. `{{ slug }}`).

[2020-04-08 13:27] evanmiller commented on #46
Well, I'll explain my problem. I'm trying to add [OpenGraph tags](https://ogp.me) to all of my web pages. So each page needs to contain its canonical URL. In the partial I'd like to do something like:

[code]

Adding a slug variable to each template would be relatively cumbersome, and also easy to get out of sync if the template moves.

It's not an urgent need but I just wanted to see if there was

[2020-04-08 13:49] scmorrison commented on #46
Hi @evanmiller

I'll take a look and see what I can come up with. I think it is a good idea and would be pretty useful.

Thanks,
Sam